@import url('https://fonts.googleapis.com/css?family=Muli:400,800');

body {
  background: #e6ecf1;
  font-family: 'Muli', sans-serif;
}

#app {
  max-width: 700px;
  margin: 0px auto;
}

race {
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  height: 90px;
  display: 'block';
  cursor: pointer;
  background-color: #fff;
  color: #373737;
  margin-top: 15px;
}

small {
  font-size: 12px;
  color: #5D5D5D;;
}

.info {
	padding-top: 5px;
  padding-left: 100px;
}

time > .day {
  display: block;
  font-size: 46pt;
  font-weight: normal;
  line-height: 1;
}
time > .month {
  display: block;
  font-size: 18pt;
  font-weight: bolder;
  line-height: 1;
}

time {
  display: inline-block;
  color: white;
  background-color: #d84d34;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 90px;
  height: 100%;
  padding: 0px;
  margin: 0px;
  float: left;
}

.title {
  font-size: 14pt;
  font-weight: 700;
  margin: 0px;
  line-height: 20pt;
  overflow: hidden;
  white-space: nowrap;
}

/* Everything from here is filters */
.dropbtn{
    background-color: #d84d34;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.location-filter, .month-filter, .distance-filter {
    display: inline-block;
}

.month-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    width: 250px;
    column-width: 100px;
}

.month-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.filter-value {
  display:none;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.month-dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.location-filter:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.location-filter:hover .dropbtn {
    background-color: #9e0c02;
}

.distance-filter:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.distance-filter:hover .dropbtn {
    background-color: #9e0c02;
}

.month-filter:hover .month-dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.month-filter:hover .dropbtn {
    background-color: #9e0c02;
}

.filters {
  /* position: -webkit-sticky;
  position: sticky; */
  top:0px;
  padding-top: 8px;
  padding-bottom: 5px;
  z-index: 3;
  border-bottom: 2px solid #d84d34;
  background-color: white
}
/* end of filter stuff */

/* search stuff */
.race-search {
    background-position: 10px;
    background-repeat: no-repeat;
    width: 300px; /* Full-width */
    font-size: 14px; /* Increase font-size */
    padding: 4px 4px 4px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-left:auto;
    margin-right:auto;
    display: block;
}

.search {
  /* padding-top: 8px; */
  padding-bottom: 5px;
  z-index: 3;
}
/* end of search stuff */
